@media screen and (max-width:576px){
    .nav-content, .nav-content > ul{
        flex-direction: column;
    }
    .follow-btn{
        width: 100%;
    }
    .nav-content li{
        margin-bottom: 36px;
    }
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-content img{
        width: 90%;
    }
}






@media screen and (min-width:577px) and (max-width:992px){
    .nav-content{
        flex-direction: column;
        gap: 5px;
    }
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-content img{
        width: 100%;
    }
}