@media screen and (max-width:576px){
    .nav-content, .nav-content > ul, .gamer{
        flex-direction: column;
    }
    .follow-btn{
        width: 100%;
    }
    .nav-content li{
        margin-bottom: 36px;
    }
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-content img{
        width: 90%;
    }
    .banner-sub-description{
        font-size: 10px;
    }
    .gamer img{
        width: 100%;
    }
    .gamer-content{
        text-align:center;
    }
    .banner-items{
        align-items: center;
    }
}






@media screen and (min-width:577px) and (max-width:992px){
    .nav-content{
        flex-direction: column;
        gap: 5px;
    }
    .banner-content{
        flex-direction: column;
    }
    .banner-content img{
        width: 100%;
    }
    .gamer{
        flex-direction: column-reverse;
    }
    .gamer img{
        width: 100%;
    }
    .gamer-content{
        text-align:center;
    }
    
}