@media screen and (max-width:576px){
    .nav-content, .nav-content > ul, .gamer, .instantly-content{
        flex-direction: column;
    }
    .follow-btn{
        width: 100%;
    }
    .nav-content li{
        margin-bottom: 36px;
    }
    .banner-content{
        flex-direction: column-reverse;
    }
    .banner-content img{
        width: 90%;
    }
    .banner-sub-description{
        font-size: 10px;
    }
    .gamer img{
        width: 100%;
    }
    .gamer-content{
        text-align:center;
    }
    .online-games-items{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 24px;
    }
    .online-games-items img{
        width: 100%;
    }
    .instantly-content img{
      width: 300px;
    }
    .instantly-2 img{
        width: 100px;
    }
    .games-items{
        grid-template-columns: repeat(3, 1fr);
        padding: 0px;
    }
    .games-item{
     gap:5px ;
    }
    .games-item img{ 
        width: 100%;
    }
}






@media screen and (min-width:577px) and (max-width:992px){
    .nav-content, .games-content{
        flex-direction: column;
        gap: 5px;
    }
    .banner-content{
        flex-direction: column;
    }
    .banner-content img{
        width: 100%;
    }
    .gamer{
        flex-direction: column-reverse;
    }
    .gamer img{
        width: 100%;
    }
    .gamer-content{
        text-align:center;
    }
    .online-games-items{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
    }
    .online-games-items img{
        width: 100%;
    }
    .instantly-content img{
        width: 100%;
    }
    .instantly-2 img{
        width: 200px;
    }
    .games-items{
        grid-template-columns: repeat(4, 1fr);
        padding: 20px;
    }
    .games-item{
     gap:20px ;
    }
    .games-item img{
        width: 100%;
    }
}